#score{
    margin-left: 5px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
#timer{
    float: right;
    margin-right: 5px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
body{
    background-color:rgba(42, 202, 168, 0.88);
    color: darkgreen;
}
h1{
    background-color: rgb(55, 173, 124); 
    text-align: center;
    font-family: 'Oswald', sans-serif;
    position: top;
    top: 0;
}
#show_sketch{
    float: right;
}
p{
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
}
#sketch_to_be_drawn{
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    color: #363c00;
}